.header { 
   width: 100vw;
   background-color: #c79fef;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0 0 20px 20px;
   padding: 5px 15px;
   gap:30px;
}
.header__icon {
   margin-left: 20px;
   width: 50px;
   height: 50px;
}
.header__nav {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.header__button{
   font-weight: bold;
   cursor: pointer;
}